<div class="input-mobile-container-dir">
      <ul class="input-dir-head">
        <li>PERSON</li>
        <li id="phoneInput">PHONE</li>
        <li>ADDRESS</li>
        <li>BUSINESS</li>
      </ul>
      <hr class="hr-spacer-head"/>
    <div class="inputHolderDir">
      <input type="tel" name="" value="" class="directiveInputReverse" placeholder="Phone" ng-model="num">
    </div>
<div class="input-dir-buttons">
  <a href="#" ng-click="toggleInput = !toggleInput">CANCEL</a>
  <button ng-click="getPhoneNum(num)" id="search-button-dir" ui-sref="phone-data">SEARCH</button>
</div>

</div>
<div class="backgroundDirInput">

</div>
