
<div class="reverse-main-container">

  <div class="reverse-content-holder">
    <img class="mobile-main-logo" src="https://cdnwp.global.ssl.fastly.net/assets/home_page/logo_wp@2x-bb6883ecd1de19cc47355c5225412ee8.png" alt="">
    <input class="reverse-input-container" type="text" name="" value="" ng-model="phoneNum">
    <h1>People and Public Records Search.</h1>
    <h2>Find Contact Information and Background Reports on yourself or anyone else.</h2 >
  </div>

</div>















<!-- <button type="button" name="button" ng-click="getPhoneNum(phoneNum)">Submit Number</button> -->


<!-- <div class="phoneInfo">
  The Number: {{phoneData.phoneNumber}} belongs to {{phoneData.belongsTo.name}}<br />
  {{phoneData.address.street_line_1}} {{phoneData.address.city}} {{phoneData.address.postal_code}} {{phoneData.address.state_code}} {{phoneData.address.country_code}}

  {{phoneData.carrier}}

  {{phoneData.latLong.latitude}}
  {{phoneData.latLong.longitude}}
</div> -->
