$primaryColor: gray;
$primaryColorLighten: lighten($primaryColor, 20%);
$arimaFont: 'Arima Madurai', cursive;
$robotoFont: 'Roboto', sans-serif;
$myBoxShadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
